<main>
	<h2 class="headline">User info</h2>
	
	<table>
		<tr>
			<th class="record">Title</th>
			<th class="record">Body</th>
		</tr>
		<% @books.each do |book| %>
		<tr>
			<th class="title"><%= book.title %></th>
			<th class="body"><%= book.body %></th>
			<th class="button"><%= link_to "Edit", edit_book_path(book) %>
			</th>
			<th class="button"><%= link_to "Destroy", book_path(book), method: :delete %>
			</th>
		</tr>
		<% end %>
	</table>
    <!--新規投稿欄  -->
	<h4>New book</h4>
	<%= form_for(@book) do |f| %>
　　<!--　エラーメッセージ  -->
	<% if @book.errors.any? %>
	<div id="error_explanation">
		<h5><%= pluralize(@book.errors.count, "error") %>prohibited this article from being saved:</h5>
		<ul>
			<% @book.errors.full_messages.each do |message| %>
			<li><%= message %></li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<div class="field">
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>
	<div class="field">
		<%= f.label :body %>
		<%= f.text_area :body %>
	</div>

	<%= f.submit 'Create Book' %>
	<% end %>
</main>
