<h1>Books#show</h1>
<main>
	<!-- 投稿完了 -->
	<%= flash[:complete] %>
	<p class="notice"><%= notice %></p>
	<!-- 更新完了 -->
	<%= flash[:success] %>
	<p class="notice"><%= notice %></p>

	<p class="body">
		<strong>Title:</strong> <%= @book.title %>
	</p>
	<p class="body">
		<strong>Body:</strong> <%= @book.body %>
	</p>

	<p class=link><%= link_to "Edit", edit_book_path(@book) %> |
	<%= link_to "Back", books_path %></p>
</main>